/* Color scheme from https://coolors.co/f1bf98-e1f4cb-bacba9-717568 */

:root {
    --nyanza: #e1f4cb;
    --laurel-green: #bacba9;
    --light: #ccc;
}

body {
    font-family: 'PT Sans', sans-serif !important;
    font-size: 16px;
    background-color: #dee;
}

nav {
    background-color: #3f4739;
}

.light {
    color: white;
}
.h4 {
    margin-bottom: 0;
}
.navbar {
    --bs-navbar-active-color: var(--light) !important;
    --bs-navbar-color: #fff !important;
    --bs-navbar-brand-font-size: 1.75rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand {
    font-size: 2 rem;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: var(--light);
}

.nav-link:hover, .nav-link:focus {
    color: var(--light);
}

.card-header {
    background-color: var(--laurel-green);
}

.card-body {
    background-color: var(--nyanza);
}