<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
        crossorigin="anonymous"
    >
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" />
    <title>Fullstech Blog</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-opacity-50">
        <header class="container-fluid">
            <h1><a class="navbar-brand fw-bolder light" href="#">Fullstech Blog</a></h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </header>
        <div class="collapse navbar-collapse fw-bolder" id="navbarNav">
            <ul class="navbar-nav light">
                <li class="nav-item mx-2">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                {{#if logged_in}}
                <li class="nav-item mx-2 log-out">
                    <a class="nav-link" id="logout" href="">Log Out</a>
                </li>
                {{else}}
                <li class="nav-item mx-2 log-in">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>

    <main class="container-fluid">
        {{{body}}}
    </main>

    <!-- JavaScript Bundle with Popper -->
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
    crossorigin="anonymous">
    </script>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>